
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.hero-bg {
  background-image: radial-gradient(circle at top left, hsl(231, 100%, 95%) 0%, transparent 30%), radial-gradient(circle at bottom right, hsl(145, 85%, 95%) 0%, transparent 40%);
}
.dark .hero-bg {
  background-image: radial-gradient(circle at top left, rgba(30, 58, 138, 0.2) 0%, transparent 35%), radial-gradient(circle at bottom right, rgba(5, 150, 105, 0.1) 0%, transparent 40%);
}
